# Site Configuration
NEXT_PUBLIC_SITE_URL=https://faizu-tech.vercel.app

# Google Services
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_GOOGLE_ADSENSE_CLIENT=ca-pub-XXXXXXXXXXXXXXXX

# Contact Form
NEXT_PUBLIC_CONTACT_FORM_ACTION=https://formspree.io/f/your-id

# Other Params
NEXT_PUBLIC_TAG_MANAGER_ID=
